

.tarjeta {
    border: 1px solid #ccc;
    width: 35%;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #283747;
  }
  .estadoActivo {
    color: green;
}

.estadoCancelado {
    color: red;
}