.mosaico {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center; 
}



.imagen {
    width: 100%;
    height: auto;
    max-height: 430px;
    object-fit: cover;
    filter: brightness(50%);
    transition: transform 0.5s ease; 
}

.texto {
    position: absolute;
    top: 20%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.texto h4 {
    font-size: 25px;
    margin-bottom: 10px;
}

.texto h1 {
    font-size: 40px;
    margin-bottom: 0;
}
